#
# PCI Express Endpoint Configuration
#

config MNH_PCIE_EP
	def_bool n
	help
	  Enables the PCIe Endpoint driver

config MNH_PCIE_EP_TEST
	depends on MNH_PCIE_EP
	tristate "MNH PCIe Endpoint Test Module"
	default n
	help
	  Enables the PCIe Endpoint driver test module

config MNH_PCIE_MULTIPLE_MSI
	def_bool n
	help
	  Enables PCIE multiple MSI supports

config MNH_PCIE_BOOT_TRACE
	depends on MNH_PCIE_EP
	tristate "MNH Boot Status Tracker"
	default n
	help
	  Enables MNH boot status tracking via SCU register
