CONFIG_SYSVIPC=y
CONFIG_NO_HZ=y
CONFIG_HIGH_RES_TIMERS=y
# CONFIG_UTS_NS is not set
# CONFIG_IPC_NS is not set
CONFIG_SCHED_AUTOGROUP=y
CONFIG_BLK_DEV_INITRD=y
# CONFIG_COMPAT_BRK is not set
CONFIG_JUMP_LABEL=y
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_IOSCHED_DEADLINE is not set
CONFIG_PROCFS_MOUNT=y
CONFIG_ARCH_MNH=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_SCHED_MC=y
CONFIG_PREEMPT=y
CONFIG_CMA=y
CONFIG_CMA_AREAS=1
# CONFIG_EFI is not set
# CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS is not set
CONFIG_COMPAT=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_CPU_FREQ=y
CONFIG_NET=y
CONFIG_UNIX=y
# CONFIG_UEVENT_HELPER is not set
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DMA_CMA=y
CONFIG_CMA_SIZE_MBYTES=4
# CONFIG_BLK_DEV is not set
CONFIG_GOOGLE_EASEL=y
CONFIG_PAINTBOX=y
# CONFIG_PAINTBOX_IOMMU_ENABLED is not set
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_HW_RANDOM is not set
CONFIG_GPIOLIB=y
CONFIG_GPIO_DWAPB=y
CONFIG_THERMAL=y
CONFIG_MNH_THERMAL=y
CONFIG_MNH_FREQ_COOLING=y
# CONFIG_HID is not set
CONFIG_STAGING=y
CONFIG_ION=y
CONFIG_ION_EASEL=y
CONFIG_COMMON_CLK_VERSATILE=y
CONFIG_DW_APB_TIMER_OF=y
CONFIG_PAINTBOX_IOMMU=y
CONFIG_ANDROID=y
CONFIG_TMPFS=y
CONFIG_TMPFS_DEFAULT_SIZE_PERCENT_NR=80
CONFIG_PRINTK_TIME=y
CONFIG_DEBUG_FS=y
