CONFIG_SYSVIPC=y
CONFIG_NO_HZ=y
CONFIG_HIGH_RES_TIMERS=y
# CONFIG_UTS_NS is not set
# CONFIG_IPC_NS is not set
CONFIG_SCHED_AUTOGROUP=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_KALLSYMS_ALL=y
# CONFIG_COMPAT_BRK is not set
CONFIG_JUMP_LABEL=y
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_IOSCHED_DEADLINE is not set
CONFIG_PROCFS_MOUNT=y
CONFIG_ARCH_MNH=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_SCHED_MC=y
CONFIG_PREEMPT=y
CONFIG_CMA=y
CONFIG_CMA_AREAS=1
# CONFIG_EFI is not set
# CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS is not set
CONFIG_COMPAT=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_CPU_FREQ=y
CONFIG_NET=y
CONFIG_UNIX=y
# CONFIG_UEVENT_HELPER is not set
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DMA_CMA=y
CONFIG_CMA_SIZE_MBYTES=4
# CONFIG_BLK_DEV is not set
# CONFIG_GOOGLE_EASEL is not set (because there is no host to talk to)
CONFIG_PAINTBOX=y
CONFIG_PAINTBOX_DEBUG=y
CONFIG_PAINTBOX_TEST_SUPPORT=y
# CONFIG_PAINTBOX_IOMMU_ENABLED is not set
CONFIG_PAINTBOX_TEST_CMA=y
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_LEGACY_PTYS is not set
# CONFIG_HW_RANDOM is not set
CONFIG_GPIOLIB=y
CONFIG_GPIO_DWAPB=y
CONFIG_THERMAL=y
CONFIG_MNH_THERMAL=y
CONFIG_MNH_FREQ_COOLING=y
# CONFIG_HID is not set
CONFIG_STAGING=y
CONFIG_ION=y
CONFIG_ION_EASEL=y
CONFIG_COMMON_CLK_VERSATILE=y
CONFIG_DW_APB_TIMER_OF=y
CONFIG_PAINTBOX_IOMMU=y
CONFIG_ANDROID=y
CONFIG_MNH_PCIE_EP_TEST=y
# CONFIG_MNH_PCIE_BOOT_TRACE is not set (hangs startup)
CONFIG_MNH_PCIE_EP=y
CONFIG_TMPFS=y
CONFIG_TMPFS_DEFAULT_SIZE_PERCENT_NR=80
CONFIG_PRINTK_TIME=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_FS=y
CONFIG_MAGIC_SYSRQ=y

# Some good kernel debugging configs (might want to add to mnh_defconfig)
CONFIG_DEBUG_KERNEL=y
CONFIG_MEMTEST=y
CONFIG_GDB_SCRIPTS=y
CONFIG_FRAME_POINTER=y

# These config options were brought over from the elinux emulator
# CONFIG_PAINTBOX_FPGA_SUPPORT=y
# CONFIG_PAINTBOX_FPGA_SOFT_RESET=y
CONFIG_PAINTBOX_TEST_SUPPORT=y
# CONFIG_PAINTBOX_IOMMU_ENABLED is not set
CONFIG_PAINTBOX_V0=y

# VM related config options
CONFIG_VIRTIO=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_MMIO=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_NET_9P_DEBUG=y
CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_CMDLINE="console=ttyAMA0"
CONFIG_SERIO_AMBAKMI=y
# CONFIG_DEVKMEM is not set
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_INET=y
